.transaction_item {
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 12px 10px;
    border-top: 10px solid #1D3557;
    transition: 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.transaction_item:hover {
    transform: translateY(-2px);
    position: relative;
    z-index: 5;
}

.location_p {
    font-size: 13px;
    font-weight: 600;
}

.type_p {
    font-size: 10px;
    font-weight: 600;
    color: #1D3557;
}

.inner_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inner_label label{
    font-size: 10px;
    font-weight: 600;
}

.inner_label p {
    font-size: 13px;
}

.transaction_item button {
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #1D3557;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
}

.transaction_item button:hover {
    background-color: #457B9D;
}

.add_ons_container {
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 10px;
    right: 0%;
    top: 100%;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.label_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.label_div label {
    font-size: 10px;
    font-weight: 600;
}

.label_div input {
    width: 50%;
    font-size: 11px;
    text-align: right;
    padding: 2px 4px;
}