.mainform_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.inner_mainform_container {
  background-color: #fff;
  padding: 20px 18px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  display: flex;
  flex-direction: column;
}

.content_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.inner_form {
  display: flex;
  flex-direction: column;
}

.inner_form label {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 5px;
}

.inner_form input {
  width: 100%;
  border: none;
  background-color: #e9ecef;
  padding: 3px 6px;
  font-size: 14px;
}

.label_time {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.time_input {
  width: 100%;
  border: none;
  background-color: #e9ecef;
  padding: 3px 6px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.inner_mainform_container button {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 3px;
}

.next_btn {
  background-color: #1d3557;
  color: #fff;
}

.next_btn:hover {
  background-color: #273b56;
}

.back_btn {
  background-color: transparent;
  color: #000;
}

.back_btn:hover {
  background-color: transparent;
  color: #adb5bd;
}
