@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-background: #f8f9fa;
  --secondary-background: #e9ecef;
  --tertiary-background: #dee2e6;
  --quartiary-background: #ced4da;
  --primary-font-color: #212529;
  --secondary-font-color: #343a40;
  --tertiary-font-color: #495057;
  --quartiary-font-color: #6c757d;
  --add-button-color: #00afb9;
  --add-button-color-hover: #1ac5ce;
  --edit-button-color: #219ebc;
  --edit-button-color-hover: #4badc5;
  --delete-button-color: #c81d25;
  --delete-button-color-hover: #d6363e;
  --activation-button-color: #ffb703;
  --activation-button-color-hover: #ffc42d;
}
